*{
    margin: 0px;
    padding: 0px;
}

body{
    margin-top: 20px;
    background-color: black;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 20px;
}

h1{
    font-size: 2rem;
}

.choices{
    margin-top: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 20px;
}

.choice{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 200px;
    height: 200px;
    border-radius: 50%;
}

.choice:hover{
    background-color: blueviolet;
}

img{
    width: 180px;
    height: 180px;
    border-radius: 50%;
    object-fit: cover;
}

.score_board{
    display: flex;
    justify-self: center;
    align-items: center;
    gap: 20px;
}

#user_score,#comp_score{
    font-size: 3rem;
    margin-left: 20px;
}

.score{
    font-size: 2rem;
}

.msg_container{
    background-color: gray;
    color: white;
    font-size: 1.5rem;
    padding: 10px;
    border-radius: 10px;
}
